  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="/actuators">Actuators</a></li>
    <li><a href="/behaviors">Behaviors</a></li>
  </ul>


<h3>Actuator Library</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Alpha</th>
      <th>Img</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @actuators.each do |actuator| %>
      <tr>
        <td><%= actuator.name %></td>
        <td><%= actuator.alpha %></td>
        <td><%= image_tag(actuator.img_url, :width => 100) if actuator.img.present? %></td>
        <td><%= link_to 'Show', actuator %></td>
        <td><%= link_to 'Edit', edit_actuator_path(actuator) %></td>
        <td><%= link_to 'Destroy', actuator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actuator', new_actuator_path %>
